@page "/"

<PageTitle>Inicio</PageTitle>
<div class="text-end">
    <NavLink class="btn btn-primary" href="acerca_de">Acerca De</NavLink>
</div>
<h4><strong>Selecciona el Ejercicio que quieres Visualizar</strong></h4>



<div class="container mx-auto mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqQCXniOranB8iORy1YenvaSy7dVVvwzeg8w&s" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 2</h5>
    <p class="card-text">Recibir un entero y retornar sus dos ultimos digitos.</p>
        <NavLink href="ej/02" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Pruebalo</NavLink>
    
  </div>
  </div>
    </div>    
       <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqQCXniOranB8iORy1YenvaSy7dVVvwzeg8w&s class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 4</h5>
    <p class="card-text">Funcion que recibe numero enteros y retorna la cantidad de digitos pares.</p>
     <NavLink href="ej/04" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Pruebalo</NavLink>
    
  </div>
  </div>
    </div>    
          <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjWxAEw1K8skAPPwCDAfLRnEpfAYlB88pVOeLEkHC_AP8WXLJNyjQCqsnu2HCJr-8mPOiAoqIQQGwL5L9uW-CrooxR8tUftxr4x0KzMU60ggd-SudqYoQ1ssLa5SryX6eNGObEs4oN8pjYW/s1600/ASCII.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 6</h5>
    <p class="card-text">Funcion que reciba un eneto y retorne el paremetro en codigo ASCII.</p>
  <NavLink href="ej/06" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Pruebalo</NavLink>
    
  </div>
  </div>
  </div>
    
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
  <img src="https://png.pngtree.com/png-vector/20220527/ourmid/pngtree-golden-fibonacci-number-section-spiral-png-image_4755533.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 8</h5>
    <p class="card-text">Funcion que reciba un entero y retorne 1 si esta entre los 30 de Fibonacci.</p>
       <NavLink href="ej/08" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Pruebalo</NavLink>
    
  </div>
  </div>
    </div>    
       <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqQCXniOranB8iORy1YenvaSy7dVVvwzeg8w&s" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 10</h5>
    <p class="card-text">Funcion que recibe un entero y retorna primer digito del mismo .</p>
    <NavLink href="ej/10" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Pruebalo</NavLink>
    
  </div>
  </div>
    </div>    
          <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqQCXniOranB8iORy1YenvaSy7dVVvwzeg8w&s" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 12</h5>
    <p class="card-text">Funcion que recibe un entero y un digito y retorne 1 si esta en el digito y 0 si no.</p>
  <NavLink href="ej/12" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Pruebalo</NavLink>
    
  </div>
  </div>
  </div>
    
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqQCXniOranB8iORy1YenvaSy7dVVvwzeg8w&s" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 14</h5>

    <p class="card-text">Funcion que reciba dos numero enteros y retorne el valor del mayor.</p>
       <NavLink href="ej/14" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Pruebalo</NavLink>
    
  </div>
  </div>
    </div>    
       <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjWxAEw1K8skAPPwCDAfLRnEpfAYlB88pVOeLEkHC_AP8WXLJNyjQCqsnu2HCJr-8mPOiAoqIQQGwL5L9uW-CrooxR8tUftxr4x0KzMU60ggd-SudqYoQ1ssLa5SryX6eNGObEs4oN8pjYW/s1600/ASCII.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 16</h5>
    <p class="card-text">Funcion que recibe un entero y retorne 1 si esta en el ASCII 0 si no es asi.</p>
     <NavLink href="ej/16" class="btn btn-primary mr-2"><i class="fas fa-link"></i>Pruebalo</NavLink>
    
  </div>
  </div>
    </div>    
          <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqQCXniOranB8iORy1YenvaSy7dVVvwzeg8w&s" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 18</h5>
    <p class="card-text">Funcion que recibe un entero y retorna 1 si es factorial de algunos de los digitos 0 si no es .</p>
    <NavLink href="ej/18" class="btn btn-primary mr-2"><i class="fas fa-link"></i>Pruebalo</NavLink>
   
  </div>
  </div>
  </div>
    
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqQCXniOranB8iORy1YenvaSy7dVVvwzeg8w&s" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 20</h5>
    <p class="card-text">Funcion que recibe un entero y retorna 1 si los valores son iguales 0 si no es asi.</p>
       <NavLink href="ej/20" class="btn btn-primary mr-2"><i class="fas fa-link"></i>Pruebalo</NavLink>
    
  </div>
  </div>
    </div>    
       <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqQCXniOranB8iORy1YenvaSy7dVVvwzeg8w&s" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 22</h5>
    <p class="card-text">Funcion que recibe un entero y retorna 1 si el valor es multiplo de 5 y 0 si no es .</p>
   <NavLink href="ej/22" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Pruebalo</NavLink>
   
  </div>
  </div>
    </div>    
          <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqQCXniOranB8iORy1YenvaSy7dVVvwzeg8w&s" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 24</h5>
    <p class="card-text">Funcion que recibe dos enteros de dos digitos y retorna 1 si son inversos 0 si no.</p>
     <NavLink href="ej/24" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Pruebalo</NavLink>
    
  </div>
  </div>
  </div>
    <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://totumat.com/wp-content/uploads/2021/04/12-1-vectores.png?w=810" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 26</h5>
    <p class="card-text">Funcion que recibe un vector de 10 posiciones enteras y retorne el mayor de los datos del vector.</p>
     <NavLink href="ej/26" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Pruebalo</NavLink>
   
  </div>
  </div>
  </div>
    <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://totumat.com/wp-content/uploads/2021/04/12-1-vectores.png?w=810" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 28</h5>
    <p class="card-text">Funcion que recibe un vector de 10 posiciones enteras y retorne la cantidad de numeros primos en el vector.</p>
    <NavLink href="ej/28" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Pruebalo</NavLink>
  
  </div>
  </div>
  </div>
    <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://totumat.com/wp-content/uploads/2021/04/12-1-vectores.png?w=810" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 30</h5>
    <p class="card-text">Funcion que recibe un vector de 10 posiciones enteras y retorne la posicion del mayor que esta almacenado.</p>
   <NavLink href="ej/30" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Pruebalo</NavLink>
    
  </div>
  </div>
  </div>
   <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://totumat.com/wp-content/uploads/2021/04/12-1-vectores.png?w=810" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 32</h5>
    <p class="card-text">Funcion que recibe un vector de 10 posiciones enteras y retorne el promedio real del vector.</p>
     <NavLink href="ej/32" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Pruebalo</NavLink>
   
  </div>
  </div>
  </div>
   <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://totumat.com/wp-content/uploads/2021/04/12-1-vectores.png?w=810" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 34</h5>
    <p class="card-text">Funcion que recibe un vector de 10 posiciones enteras y retorne la posicion del numero entero que tenga mas digitos.</p>
     <NavLink href="ej/34" class="btn btn-primary mr-2"><i class="fas fa-link"></i>Pruebalo</NavLink>
    
  </div>
  </div>
  </div>
   <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://png.pngtree.com/png-vector/20220527/ourmid/pngtree-golden-fibonacci-number-section-spiral-png-image_4755533.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 36</h5>
    <p class="card-text">Funcion que reciba como parametro un entero y retorne ese elemento de la seria de Fibonacci.</p>
     <NavLink href="ej/36" class="btn btn-primary mr-2"><i class="fas fa-link"></i>Pruebalo</NavLink>
   
  </div>
  </div>
  </div>
   <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://totumat.com/wp-content/uploads/2021/04/12-1-vectores.png?w=810" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 38</h5>
    <p class="card-text">Funcion que recibe un vector de 10 posiciones enteras y retorne la cantidad de numeros terminados en 3 que contiene el vector.</p>
     <NavLink href="ej/38" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Pruebalo</NavLink>
   
  </div>
  </div>
  </div>
   <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://totumat.com/wp-content/uploads/2021/04/12-1-vectores.png?w=810" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 40</h5>
    <p class="card-text">Funcion que recibe un vector de 10 posiciones enteras y un digito que retorne la cantidad de numeros del vector que terminen en dicho digito.</p>
    <NavLink href="ej/40" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Pruebalo</NavLink>
   
  </div>
  </div>
  </div>
   <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://cdn0.unprofesor.com/es/posts/9/4/7/soluciones_749_6_600.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 42</h5>
    <p class="card-text">Funcion que recibe una matriz 3x4 entera y retorne la cantidad de veces que se repite el mayor dato de la matriz.</p>
    <NavLink href="ej/42" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Pruebalo</NavLink>
    
  </div>
  </div>
  </div>
   <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://cdn0.unprofesor.com/es/posts/9/4/7/soluciones_749_6_600.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 44</h5>
    <p class="card-text">Funcion que recibe una matriz 3x4 entera y retorne la cantidad de veces que se repite el mayor numero primo de la matriz.</p>
     <NavLink href="ej/44" class="btn btn-primary mr-2"><i class="fas fa-link"></i>Pruebalo</NavLink>
    
  </div>
  </div>
  </div>
   <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://cdn0.unprofesor.com/es/posts/9/4/7/soluciones_749_6_600.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 46</h5>
    <p class="card-text">Funcion que recibe una matriz 4x4 entera y retorne el numero de la fila donde se encuentre por primera vez el numero mayor.</p>
     <NavLink href="ej/46" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Pruebalo</NavLink>
    
  </div>
  </div>
  </div>
   <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://cdn0.unprofesor.com/es/posts/9/4/7/soluciones_749_6_600.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 48</h5>
    <p class="card-text">Funcion que recibe una 4x4 entera y retorne la posicion exacta en donde se encuentre almacenado el mayor numero primo.</p>
     <NavLink href="ej/48" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Pruebalo</NavLink>
    
  </div>
  </div>
  </div>
   <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="https://cdn0.unprofesor.com/es/posts/9/4/7/soluciones_749_6_600.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ejercicio 50</h5>
    <p class="card-text">Funcion que recibe una matriz 5x5 y retorne la cantidad de vece que se repite su moda.</p>
     <NavLink href="ej/50" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Pruebalo</NavLink>
    
  </div>
  </div>
  </div>
</div>
  </div>