@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Inicio</h1>

<h3>!Bienvedido a la aplicacion, Sean todo Bienvedidos!🤝📚</h3>

<p>Esta es una aplicacion de ejemplo que fue creada con Blazor WebAssembly📊🚀.</p>

<p>Para comenzar, navega por las diferentes secciones de la aplicacion utilizando el menu de navegacion🌍💻.</p>

<img class="img-fluid" src="https://hips.hearstapps.com/hmg-prod/images/frases-motivacion-655b815bdd59f.jpg"/>

<h3>Una Frase motivadora para ti:</h3>
<p>. La programación no solo construye software, también construye sueños. ¡Sigue codificando tu futuro! 💻✨.</p>