@page "/acerca"

<h3 class="text-center">Acerca De</h3>

<div class="text-center mb-4">
<img src="images/yo.jpg" class="rounded-circle" style="width: 135px;" height="135px" alt="Foto De Reyning" />
</div>


<h4 class="text-center">Reyning Perdomo Feliz</h4>

<p class="text-center ">Aqui estare compartiendo mis datos para que me conozcan mejor.</p>

<div class="text-center">
    <p><strong>Nombre:</strong>Reyning Perdomo Feliz</p>
    <p><strong>Matricula:</strong> 2023- 1110</p>
    <p><strong>Asignatura:</strong> Programacion Web</p>
</div>