@page "/"

<PageTitle>Inicio</PageTitle>

<h2>📋 Instrucciones:</h2>
<h2>Reyning Perdomo Feliz</h2>
<h2>Matricula:2023-1110</h2>

<h2>sistema de registro de visitas para una empresa</h2>

<h5>1️⃣Formulario de Registro:</h5>
<ul>
    <li>Telefono.</li>
    <li>Nombre</li>
    <li>Apellido</li>
    <li>Correo</li>
</ul>
<h5>2️⃣Listado de Visitas:</h5>
<p>mplementa una página donde se puedan ver todas las visitas que se han registrado. Esta lista debe mostrar la información de las visitas ingresadas previamente. La lista debe actualizarse automáticamente cuando se registra una nueva visita.</p>

<h5>3️⃣Botón para Agregar Visitas:</h5>
<p>Debe haber un botón en el formulario que permita enviar los datos ingresados al sistema para que se guarden. Asegúrate de que, después de agregar una visita, el formulario se limpie para permitir nuevos registros.</p>
<h5>4️⃣Persistencia de Datos:</h5>
<p>Debes elegir una base de datos para almacenar los datos de las visitas. Puedes utilizar la base de datos que prefieras (por ejemplo: SQLite, MySQL, SQL Server, etc.).</p>
<h5>5️⃣Comentarios en el Código:</h5>
<p>Asegúrate de comentar tu código en al menos dos lugares diferentes. Incluye tu nombre completo en los comentarios para identificar tu trabajo.</p>