@*2023-1110*@
@page "/"

<PageTitle>Inicio</PageTitle>

<h1>1 parcial.</h1>

<p><b>Objetivo del Proyecto:</b>🎯 Construir una aplicación web que funcione como un registro para estudiantes que llegan tarde a la entrada del colegio. 🏫⏰</p>

<b>Requisitos del Proyecto: ✅</b>

<p><b>1.Página Inicial: </b>La página debe mostrar una lista de todos los estudiantes que han llegado tarde. Asegúrense de que esta lista sea clara y fácil de leer. 📋</p>

<p><b>2.Botón para Registrar Nueva Tardanza:</b>Debe haber un botón claramente visible que, al ser pulsado, lleve a un formulario donde se pueda registrar una nueva tardanza. El formulario debe incluir los siguientes campos: matrícula, nombre, apellido, curso y motivo. 🖊️📝</p>

<p><b>3.Registro de Fecha y Hora:</b>Cada registro de tardanza debe incluir la fecha y la hora exacta en que se realizó. Esto es crucial para mantener un seguimiento adecuado. ⏲️🗓️</p>

<p><b>4.Desarrollo desde Cero: </b>Todo el código debe ser escrito por ustedes, sin utilizar autogeneradores de código. Se permiten herramientas que completan funciones, pero nada más allá de eso. 🚫🤖</p>

<p><b>5.Prohibición de Copiar o Usar Herramientas como Copilot: </b>Queremos ver cómo resuelven problemas y escriben código por ustedes mismos. 🛑</p>

<p><b>6.Comentarios en el Código:</b>Deben comentar su código en C# al menos dos veces con su matrícula y nombre, una al inicio del video cuando comiencen a programar. Esto nos ayuda a verificar su trabajo. 💬✍️</p>
@*2023-1110*@